.card {
/*   border: 2px solid red; */
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  color: #000;
}

.hidden {
  display: none;
}

.darkblue {
  background-color: darkblue;
  display: none;
}

.active {
  background-color: darkblue;
}

.btn {
  color: red;
/*   width: 25px; */
  height: 25px;
  border-radius: 12.5px;
  border: none;
  margin-bottom: 10px;
}

.dayCardHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
