.nav {
  grid-area: Nav;
  background-color: greenyellow;
}

.item {
  padding-bottom: 10px;
}

.item a {
  color: darkred;
  text-decoration: none;
  font-weight: 600;
}

.item a.activeLink {
  color: blueviolet;
  font-weight: 400;
}

/* .header img {
  width: 50px;
} */